.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #333;
    font-family: sans-serif;
}

.flex-item{

    flex-grow: 1;
    margin: 20px;
    max-width: 300px;
    border: 2px solid #333;
    padding: 0 20px;
}

.flex-item:hover{
    border-color: #7fff00;
    box-shadow: 0px 0px 30px hsl(80, 80%, 50%);
}

.flex-item:focus{
    border-color: #7fff00;
    box-shadow: 0px 0px 30px green;
}

h2, h3{
    margin: 0;
}

h3{
    color: #666;
}

p b{
    color: #7fff00;
}

.llave-img{
    width: 300px;
   
}

form{
   text-align: center; 
   padding: 50px;
}

input{
    background: green;
    color: white;
    padding: 12px 28px;
    font-size: 18px;
    letter-spacing: 1px;
}
